body {
    background-color: dimgray;
}

h3 {
    text-align: center;
    color: wheat;
}

canvas {
    border: 3px black solid;
    background-color: white;
    cursor: crosshair;
}

input[type="color"] {
    cursor: pointer;
}

#Canvas {
    text-align: center;
}

#pixel {
    width: 33px;
    display: inline-block;
    text-align: center;
    background-color: black;
    border: none;
    color: wheat;
    font-size: 16px;
}

#pixelBlock {
    text-align: center;
}

#pixelBlock>text {
    color: wheat;
    display: inline-block;
    font-size: 16px;
}

#settingBlock {
    position: absolute;
    display: inline-block;
    border: 2px black solid;
    background-color: black;
    opacity: 0.9;
    border-radius: 10px;
    width: 200px;
    height: 450px;
}

#settingBar {
    cursor: move;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    background-color: wheat;
    color: black;
    text-align: center;
}

#settingBlock>div>input[type="radio"] {
    display: none;
}

#settingBlock>div>input[type="button"] {
    display: none;
}

#settingBlock>div>a>input[type="button"] {
    display: none;
}

#settingBlock>div>input[type="file"] {
    display: none;
}

#settingBlock>div>input[type="button"]+label {
    display: inline-block;
    background-color: gray;
    border-radius: 3px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#settingBlock>div>input[type="file"]+label {
    display: inline-block;
    background-color: gray;
    border-radius: 3px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#settingBlock>div>a>input[type="button"]+label {
    display: inline-block;
    background-color: gray;
    border-radius: 3px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


#settingBlock>div>input[type="button"]:active+label {
    background-color: rgb(70, 70, 70);
}

#settingBlock>div>input[type="file"]:active+label {
    background-color: rgb(70, 70, 70);
}

#settingBlock>div>a>input[type="button"]:active+label {
    background-color: rgb(70, 70, 70);
}

#settingBlock>div>input[type="radio"]+label {
    display: inline-block;
    background-color: gray;
    border-radius: 3px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#settingBlock>div>input[type="radio"]:checked+label {
    background-color: rgb(70, 70, 70);
}

#settingBlock>div>label>img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#settingBlock>div>a>label>img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

div[class="row"] {
    text-align: center;
    height: 55px;
}

#colorPickerBlock{
    text-align: center;
}

#colorPicker{
    display: line;
    border: none;
    width: 67%;
    height: 50px;
    background: none;
}

#colorPickerBlock > input[type="text"]{
    display: inline-block;
    width: 40%;
    text-align: center;
    background-color: black;
    border: none;
    color: wheat;
    font-size: 16px;
}

#fontBlock {
    position: absolute;
    display: inline-block;
    border: 2px black solid;
    background-color: black;
    opacity: 0.9;
    border-radius: 10px;
    width: 250px;
    height: 240px;
}

#fontBar {
    cursor: move;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    background-color: wheat;
    color: black;
    text-align: center;
}

#fontBlock > div > input[type="text"]{
    display: inline-block;
    position: relative;
    width: 50%;
    text-align: center;
    background-color: white;
    border: none;
    font-size: 16px;
    left: 15%;
}

#fontBlock > div > text{
    position: relative;
    left: 5%;
    color: wheat;
    font-size: 14px;
}
#fontBlock > div > text1{
    position: relative;
    left: 17%;
    color: wheat;
    font-size: 14px;
}

#fontBlock > div > select{
    display: inline-block;
    position: relative;
    width: 35%;
    text-align: center;
    background-color: white;
    border: none;
    font-size: 14px;
    left: 15%;
}

#fontBlock > div > input[type="range"]{
    position: relative;
    left: 15%;
    width: 40%;
}

#fontBlock > div > input[type="checkbox"]{
    display: none;
}

#fontBlock > div > label{
    display: inline-block;
    position: relative;
    left: 42%;
    color: black;
    cursor: pointer;
    background-color: wheat;
    border-radius: 4px;
    width: 50px;
    text-align: center;
} 

#fontBlock > div > input:checked + label{
    color: black;
    background-color: rgb(90, 90, 90);
} 